.rs-team.style1 .team-item .content-part {
    top: 51% !important;
}

.textCustom {
    color: white !important;
}

.rs-team.style1 .team-item .content-part .name {
    margin-bottom: 2px;
    font-size: 17px;

}