<app-header></app-header>


<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="video-column col-lg-12">

                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Students Details:</h5>
                                <ul>
                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Students list of year 2016-18</span>
                                        <span class="value">
                                            <a href="http://www.cesociety.in/ijbed/images/news/2016-18.pdf"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Students list of year 2017-19</span>
                                        <span class="value">
                                            <a href="http://www.cesociety.in/ijbed/images/news/2017-19.pdf"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Students list of year 2018-20</span>
                                        <span class="value">
                                            <a href="http://www.cesociety.in/ijbed/images/news/2018-20.pdf"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Students list of year 2019-21</span>
                                        <span class="value">
                                            <a href="http://www.cesociety.in/ijbed/images/news/2019-21.pdf"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Students list of year 2020-22</span>
                                        <span class="value">
                                            <a href="http://www.cesociety.in/ijbed/images/news/Students%20list%202020-2022.pdf"
                                                target="_blank"><i
                                                    class="fa fa-file-pdf-o"
                                                    aria-hidden="true"></i>
                                                Download</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>