<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Dr. Nusrat Kadri
                        <br>
                        <span>- Principal,</span>
                    </h5>
                    <p>Charotar Education society (CES) is a pioneer educational trust, which has served the cause of
                        education in India for ten decades. With its farsighted vision, CES planned to start
                        self-financed colleges in the faculty of education. Thus, Shri I.J.Patel B.Ed. College got the
                        proud distinction of being the first self-financed college of Gujarat State. It is my pleasure
                        and privilege to get associated to this great institution as its founder in charge Principal. We
                        launched our journey of the noble cause: nurturing effective teachers through quality education.
                        I can say with satisfaction that in less than a decade we have been able to curve a niche for
                        our institution and established its one of the most respected and reputed institution of
                        Gujarat.</p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                    <p>During this process we have always adhered to our principles, objective, vision and mission. We
                        have always conducted value based academic and social programmes to concur with the vision and
                        mission of founder fathers and patrons of great Charotar Education Society, who has always given
                        importance to egalitarian society, through consistent innovation in curriculum development,
                        frequent up gradation of its infrastructural facility and human resources and wide range of
                        diverse co-curricular activities, the college has constantly strived to scale new height of
                        excellence. The highest achievement of the college reached its peak with the college achieving
                        the highest grade in NAAC accreditation CGPA 2.72 ‘B’-grade in 2010 among all the B.Ed. Colleges
                        of Gujarat state.</p>
                    <!-- <p>The institution has fulfilled its moral responsibility of incorporating every component of the
                        society, from kids to old people in designing and executing its inclusive education programmes.
                        This has broken the shackle of monotonous and exam oriented education system and led to lively
                        and realistic approaches enhanced efficacy and effectiveness of practical education programmes.
                        Over the years the tender foot of institution has grown into firm steps and we are now
                        progressing by leaps and bounds.
                    </p> -->
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>